<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografia</title>
</head>

<body>

    <!-- Foto con nombre-->
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-3 text-center">
                <img class="img-fluid rounded-circle mb-4" src="contents\page_images\CarlosFernandez.jpg" alt="...">
            </div>
                <h1 class="text-black fs-3 fw-bolder">Carlos Fernández Cabrera</h1>
                <p class="text-black-50 mb-0">Arquitecto Matricula 14440</p>
        </div>
    </div>
    
    <!-- Texto introductoorio-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2>Full Width Backgrounds</h2>
                    <p class="lead">A single, lightweight helper class allows you to add engaging, full width background images to sections of your page.</p>
                    <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.</p>
                </div>
            </div>
        </div>
    </section>
    
    
    
</body>
</html>