<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografia</title>
</head>

<body class="content">

    <!-- Foto con nombre-->
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-3 text-center">
                <img class="img-fluid rounded-circle mb-4" src="contents\page_images\CarlosFernandez.jpg" alt="...">
            </div>
                <h1 class="text-black fs-3 fw-bolder">Carlos Fernández Cabrera</h1>
                <p class="text-black-50 mb-0">Arquitecto Matr. N° 14.440 | CAPER</p>
        </div>
    </div>
    
    <!-- Texto introductoorio-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <h2>Biografía<br></h2>
                    <p class="lead">
                        Carlos Fernández Cabrera nació en Concordia, Entre Ríos en el año 1979.<br>
                        <br>
                        Estudio en la Facultad de Arquitectura y Urbanismo de la Universidad de Concepción del Uruguay,
                        obteniendo el título de Arquitecto en el año 2003.<br>
                        <br>
                        Entre los años 2003 y 2007 trabajo junto a su padre, Francisco Fernández en la empresa constructora familiar,
                        realizando sus primeras obras en la ciudad.<br>
                        <br>
                        En el año 2004 abre su estudio de arquitectura, con sede en Concordia, donde desarrolla
                        hasta la actualidad proyectos de vivienda unifamiliar, arquitectura comercial y edificios
                        de vivienda colectiva de mediana escala.<br>
                        <br>
                        Ha sido Presidente del Colegio de Arquitectura y Urbanismo de la Provincia de Entre Ríos,
                        durante 2 períodos, entre 2019-2021 y 2021-2023.<br>
                        <br>
                        En el año 2015, junto al Arq. Bruno RODA funda la empresa Ferro construcciones,
                        realizando hasta el presente el desarrollo integral de numerosos proyectos de arquitectura.<br><br></p>

                    <h2>El Estudio<br></h2>
                    <p class="lead">
                        Ubicado en Concordia prov. de Entre Ríos, es una esquina emblemática de la ciudad, frente a la plaza Urquiza
                        y al monumento histórico nacional Palacio Arruabarrena, un edificio patrimonial que nos inspira en el diseño
                        de nuestros proyectos.<br><br></p>
                    
                    <h2>El Equipo<br></h2>
                    <p class="lead">
                        Trabajamos en forma colaborativa, en la búsqueda de la calidad de nuestras obras y el mejor servicio
                        a nuestros clientes.<br><br></p>
                    
                        <div class="row">
                            <div class="col-md-6">
                                <p class="lead" style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;Guido Asplanatti<br>&nbsp;&nbsp;&nbsp;&nbsp;Renderista - Administrativo</p>
                            </div>
                            <div class="col-md-6">
                                <p class="lead" style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;Emilio Panozzo<br>&nbsp;&nbsp;&nbsp;&nbsp;MMO - Cadista</p>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </section>
    
    
    
</body>
</html>