<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARQ Carlos Fernández Cabrera</title>
</head>

<body>

    <div class="container">
        <div id="carouselObrasDestacadas" class="carousel slide carousel-fade mx-auto">
          <div class="carousel-inner mx-auto" style="width: 1000px; height: 600px;">

            <div class="carousel-item active">
              <img src="contents\works\foto1.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="contents\works\foto2.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="contents\works\foto3.JPG" class="d-block w-100" alt="...">
            </div>
          </div>

          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselObrasDestacadas" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselObrasDestacadas" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button> -->

        </div>
    </div>

    <br>

    <div class="container">
      <div id="carouselObrasDestacadas" class="carousel slide carousel-fade mx-auto">
        <div class="carousel-inner mx-auto" style="width: 1000px">

          <div class="carousel-item active">
            <h2>CASA HERZOG</h2>
            <p>Descripcion de la imagen</p>
          </div>

          <div class="carousel-item">
            <h2>CASA HERZOG 2</h2>
            <p>Descripcion de la imagen 2</p>
          </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselObrasDestacadas" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselObrasDestacadas" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>

      
  </div>
    
    
</body>

</html>