<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carlos Fernández Cabrera</title>
    <link rel="icon" href="ARQWebsite/contents/Logo_ARQFernandez.png" type="image/x-icon">
</head>

<body class="content">

    <div class="container">
        <div id="carouselObrasDestacadas" class="carousel slide carousel-fade mx-auto">
          <div class="carousel-inner mx-auto" style="max-width: 1000px; max-height: 600px;">

            <div class="carousel-item active">
              <img src="contents\works\foto1.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="contents\works\foto2.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="contents\works\foto3.JPG" class="d-block w-100" alt="...">
            </div>

          </div>
        </div>
    </div>

    <br>      

    <div class="container" style="max-width: 1000px">
      <div class="row align-items-center">
        <div class="col d-flex justify-content-between">
          <div>
            <h2 class="d-inline-block me-3">CASA HERZOG</h2>
          </div>
          <div>
            <!-- Boton siguiente-->
            <button class="btn-transparent me-4" type="button" data-bs-target="#carouselObrasDestacadas" data-bs-slide="prev">
              <span class="d-flex justify-content-center align-items-center carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <!-- Boton anterior-->
            <button class="btn-transparent" type="button" data-bs-target="#carouselObrasDestacadas" data-bs-slide="next">
              <span class="d-flex justify-content-center align-items-center carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </div>
          <p class="d-inline-block me-3">Descripcion de la imagen</p>
        </div>
    </div>  
    
  
  </div>
  

    <br><br>

    <div class="container">
      <div class="row justify-content-center text-center">
          <div class="col-md-3 text-center">
              <img class="img-fluid rounded-circle mb-4" src="contents\page_images\CarlosFernandez.jpg" alt="...">
          </div>
            <h1 class="text-black fs-3 fw-bolder">Carlos Fernández Cabrera</h1>
            <p class="text-black-50 mb-0">Arquitecto Matricula 14.440</p>
      </div>
    </div>

    <div class="album py-5">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="800" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Biografia</text>
              </svg>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="800" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Proyectos</text>
              </svg>
            </div>
          </div>
          
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="800" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Estudio</text>
              </svg>
            </div>
          </div>
  
        </div>
      </div>
    </div>

    <!-- Tarjeta Contacto -->
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary mx-auto" style="max-width: 900px;">
      <div class="col px-0">
          <!-- Imagen -->
          <div class="d-flex justify-content-center">
              <img src="contents/Logo_ARQFernandez.png" class="img-fluid" alt="ARQ Carlos Fernandez Cabrera">
          </div>
        
        <p class="lead my-3">Escribe un mensaje...</p>
        
        <!-- Nombre y email -->
        <div class="row">
          <div class="col-md-6 form-group mb-3">
              <label for="" class="col-form-label">Nombre</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Su nombre">
          </div>
          <div class="col-md-6 form-group mb-3">
              <label for="" class="col-form-label">Email *</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Su email">
          </div>

          <!-- Cuerpo mensaje -->
          <div class="row">
              <div class="col-md-12 form-group mb-3">
                  <label for="message" class="col-form-label">Mensaje *</label>
                  <textarea class="form-control" name="message" id="message" cols="30" rows="4" placeholder="Escribe tu mensaje" style="height: 112px;"></textarea>
              </div>
          </div>
          <!-- Boton enviar mensaje -->
          <div class="row">
              <div class="col-md-12 form-group">
                  <input type="submit" value="Enviar Mensaje" class="btn btn-outline-dark rounded-0 py-2 px-4">
                  <span class="submitting"></span>
              </div>
          </div>
          </div>
      </div>
  </div>
  

  <div id="map"></div>
    <script src="assets/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC81NL2nCe-fiE8_EMovHkXL3UC_UwhShA&callback=iniciarMap"></script>
    
    
</body>

</html>