<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
</head>


<body class="content">

    <main class="container">
      <body class="content">
        <div>
          <div class="col-lg-6 px-0">
            <h1 class="display-4">Noticias Destacables</h1>
          </div>
        </div>
      
        <br>
      
        <div class="row g-5">
          <div class="col-md-8">
            <h3 class="pb-4 mb-4 border-bottom">
              Diario X
            </h3>
      
            <article class="blog-post">
               <!-- Tarjetas de Noticias -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">DiarioX</strong>
                        <h3 class="mb-0">Titulo de noticia</h3>
                        <div class="mb-1 text-body-secondary">Nov 23</div>
                        <p class="card-text mb-auto">Subtitulo de la noticia o breve descripcion.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Seguir leyendo...
                          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">RadioX</strong>
                        <h3 class="mb-0">Titulo de la Nota</h3>
                        <div class="mb-1 text-body-secondary">Nov 23</div>
                        <p class="mb-auto">Descripcion de la nota.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Visitar...
                          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tarjetas de Noticias -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">DiarioX</strong>
                        <h3 class="mb-0">Titulo de noticia</h3>
                        <div class="mb-1 text-body-secondary">Nov 23</div>
                        <p class="card-text mb-auto">Subtitulo de la noticia o breve descripcion.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Seguir leyendo...
                          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">RadioX</strong>
                        <h3 class="mb-0">Titulo de la Nota</h3>
                        <div class="mb-1 text-body-secondary">Nov 23</div>
                        <p class="mb-auto">Descripcion de la nota.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Visitar...
                          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tarjetas de Noticias -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">DiarioX</strong>
                        <h3 class="mb-0">Titulo de noticia</h3>
                        <div class="mb-1 text-body-secondary">Nov 23</div>
                        <p class="card-text mb-auto">Subtitulo de la noticia o breve descripcion.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Seguir leyendo...
                          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">RadioX</strong>
                        <h3 class="mb-0">Titulo de la Nota</h3>
                        <div class="mb-1 text-body-secondary">Nov 23</div>
                        <p class="mb-auto">Descripcion de la nota.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Visitar...
                          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tarjetas de Noticias -->
                <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">DiarioX</strong>
                        <h3 class="mb-0">Titulo de noticia</h3>
                        <div class="mb-1 text-body-secondary">Nov 23</div>
                        <p class="card-text mb-auto">Subtitulo de la noticia o breve descripcion.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Seguir leyendo...
                          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">RadioX</strong>
                        <h3 class="mb-0">Titulo de la Nota</h3>
                        <div class="mb-1 text-body-secondary">Nov 23</div>
                        <p class="mb-auto">Descripcion de la nota.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Visitar...
                          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
                </div>
            </article>
      
          </div>
      
          <div class="col-md-4">
            <br>
            <div class="position-sticky" style="top: 8rem;">
      
              <div>
                <h4 class="fst-italic">Redes Sociales</h4>
                <ul class="list-unstyled">
                  <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                      <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                      <div class="col-lg-8">
                        <h6 class="mb-0">Instagram ARQ</h6>
                        <small class="text-body-secondary">@Nombre</small>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                      <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                      <div class="col-lg-8">
                        <h6 class="mb-0">Instagram Personal</h6>
                        <small class="text-body-secondary">@Nombre</small>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                      <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                      <div class="col-lg-8">
                        <h6 class="mb-0">Facebook Personal</h6>
                        <small class="text-body-secondary">@Nombre</small>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
    
            </div>
          </div>
        </div>
      </body>
      </main>

    
</body>
</html>