<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
</head>
<body>
    <div class="container">

        <!-- Titulo Obras-->
        <div class="container px-4 px-lg-5">
            <div class="text-left text-black">
                <h3 class="lead fw-bolder text-black-100 mb-0">Obras</h3>
            </div>
        </div>
      
      <!-- Section-->
      <section class="py-2">
          <div class="container px-4 px-lg-5 mt-4">
              <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- Carta de Obra -->
                    <div class="col mb-5">
                        <!-- Página de destino -->
                        <a href="index.php?page=Casa_Herzog">
                            <div class="card h-100">
                                <!-- Imagen -->
                                <div class="image-container">
                                    <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                                </div>
                                
                                <div class="card-img-overlay">
                                    <div class="position-absolute bottom-0 start-0 p-2">
                                        <!-- Titulo -->
                                        <h5 class="fw-normal text-white">Casa Herzog</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Carta de Obra -->
                    <div class="col mb-5">
                        <!-- Página de destino -->
                        <a href="index.php?page=proyectos">
                            <div class="card h-100">
                                <!-- Imagen -->
                                <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <div class="position-absolute bottom-0 start-0 p-2">
                                        <!-- Titulo -->
                                        <h5 class="fw-normal text-white">Casa Herzog</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Carta de Obra -->
                    <div class="col mb-5">
                        <!-- Página de destino -->
                        <a href="index.php?page=proyectos">
                            <div class="card h-100">
                                <!-- Imagen -->
                                <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <div class="position-absolute bottom-0 start-0 p-2">
                                        <!-- Titulo -->
                                        <h5 class="fw-normal text-white">Casa Herzog</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                  
                    <!-- Carta de Obra -->
                    <div class="col mb-5">
                        <!-- Página de destino -->
                        <a href="index.php?page=proyectos">
                            <div class="card h-100">
                                <!-- Imagen -->
                                <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <div class="position-absolute bottom-0 start-0 p-2">
                                        <!-- Titulo -->
                                        <h5 class="fw-normal text-white">Casa Herzog</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                  
                    <!-- Carta de Obra -->
                    <div class="col mb-5">
                        <!-- Página de destino -->
                        <a href="index.php?page=proyectos">
                            <div class="card h-100">
                                <!-- Imagen -->
                                <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <div class="position-absolute bottom-0 start-0 p-2">
                                        <!-- Titulo -->
                                        <h5 class="fw-normal text-white">Casa Herzog</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                  
                    <!-- Carta de Obra -->
                    <div class="col mb-5">
                        <!-- Página de destino -->
                        <a href="index.php?page=proyectos">
                            <div class="card h-100">
                                <!-- Imagen -->
                                <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <div class="position-absolute bottom-0 start-0 p-2">
                                        <!-- Titulo -->
                                        <h5 class="fw-normal text-white">Casa Herzog</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Carta de Obra -->
                    <div class="col mb-5">
                        <!-- Página de destino -->
                        <a href="index.php?page=proyectos">
                            <div class="card h-100">
                                <!-- Imagen -->
                                <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <div class="position-absolute bottom-0 start-0 p-2">
                                        <!-- Titulo -->
                                        <h5 class="fw-normal text-white">Casa Herzog</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Carta de Obra -->
                    <div class="col mb-5">
                        <!-- Página de destino -->
                        <a href="index.php?page=proyectos">
                            <div class="card h-100">
                                <!-- Imagen -->
                                <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <div class="position-absolute bottom-0 start-0 p-2">
                                        <!-- Titulo -->
                                        <h5 class="fw-normal text-white">Casa Herzog</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                <!-- Carta de Obra -->
                <div class="col mb-5">
                    <!-- Página de destino -->
                    <a href="index.php?page=proyectos">
                        <div class="card h-100">
                            <!-- Imagen -->
                            <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <div class="position-absolute bottom-0 start-0 p-2">
                                    <!-- Titulo -->
                                    <h5 class="fw-normal text-white">Casa Herzog</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              
                <!-- Carta de Obra -->
                <div class="col mb-5">
                    <!-- Página de destino -->
                    <a href="index.php?page=proyectos">
                        <div class="card h-100">
                            <!-- Imagen -->
                            <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <div class="position-absolute bottom-0 start-0 p-2">
                                    <!-- Titulo -->
                                    <h5 class="fw-normal text-white">Casa Herzog</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Carta de Obra -->
                <div class="col mb-5">
                    <!-- Página de destino -->
                    <a href="index.php?page=proyectos">
                        <div class="card h-100">
                            <!-- Imagen -->
                            <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <div class="position-absolute bottom-0 start-0 p-2">
                                    <!-- Titulo -->
                                    <h5 class="fw-normal text-white">Casa Herzog</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Carta de Obra -->
                <div class="col mb-5">
                    <!-- Página de destino -->
                    <a href="index.php?page=proyectos">
                        <div class="card h-100">
                            <!-- Imagen -->
                            <img src="contents\works\foto1.JPG" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <div class="position-absolute bottom-0 start-0 p-2">
                                    <!-- Titulo -->
                                    <h5 class="fw-normal text-white">Casa Herzog</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                  
                  
              </div>
          </div>
      </section>
    </div>
    
</body>
</html>