<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
</head>
<body>
    <div class="container">
        <div id="carouselObrasDestacadas" class="carousel slide carousel-fade mx-auto">
          <div class="carousel-inner mx-auto" style="width: 1000px">
  
            <div class="carousel-item active">
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>
                <h1>carga proyectos</h1>

              
            </div>
  
            <div class="carousel-item">
              
              <h1>carga proyectos</h1>
            </div>
  
  
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselObrasDestacadas" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
  
          <button class="carousel-control-next" type="button" data-bs-target="#carouselObrasDestacadas" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
    </div>
    
</body>
</html>