body {
  font-family: 'Roboto', sans-serif;
}



/* HEAD POSICION */
.head-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; /* Cambia esto al color de fondo de tu head */
    z-index: 1000; /* Asegúrate de que el z-index sea mayor que el de otros elementos */
}

.navegation-container{
    position: fixed;
    top: 6.625rem;
    width: 100%;
    background-color: #ffffff; /* Cambia esto al color de fondo de tu head */
    z-index: 1000; /* Asegúrate de que el z-index sea mayor que el de otros elementos */
}

/* padding barras de navegaciones */
.content {
    padding-top: 7rem; /* Ajusta el padding superior según la altura de tu head */
}

.btn-transparent {
    background-color: transparent;
    border: none;
    transition: filter 0.3s ease-in-out;
}

.btn-transparent:hover {
    filter: brightness(80%);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container:hover img {
    filter: brightness(80%);
}

.galeria-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px; /* Espacio entre las imágenes */
  }

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    background-color: #f5f5f5; /* Color de fondo */
    border-radius: 8px; /* Redondear los bordes */
  }
  
  /* Estilos para el control deslizante */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del control deslizante */
    border-radius: 8px; /* Redondear los bordes */
  }
  
  /* Estilos cuando se pasa el mouse sobre el control deslizante */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Color del control deslizante al pasar el mouse */
  }
  
  /* Estilos para la barra de desplazamiento de la esquina inferior derecha (si es visible) */
  ::-webkit-scrollbar-corner {
    background-color: #333; /* Color de fondo */
  }
  
