<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="assets/ARQLogoPestania.ico" type="image/x-icon" />
</head>

<header class="head-container">
  <div class="container">
      <div class="d-flex flex-wrap justify-content-center py-4">

        <a href="index.php?page=home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="contents/Logo_ARQFernandez.png" class="img-fluid" alt="ARQ Carlos Fernanez Cabrera">
        </a>
  
        <ul class="nav nav-underline nav-scroller mb-3">
          <li class="nav-item"><a href="index.php?page=home" class="nav-link link-body-emphasis">INICIO</a></li>
          <li class="nav-item"><a href="index.php?page=proyectos" class="nav-link link-body-emphasis">PROYECTOS</a></li>
          <li class="nav-item"><a href="index.php?page=biografia" class="nav-link link-body-emphasis">BIOGRAFIA</a></li>
          <li class="nav-item"><a href="index.php?page=noticias" class="nav-link link-body-emphasis">NOTICIAS</a></li>
          <li class="nav-item"><a href="index.php?page=contactos" class="nav-link link-body-emphasis">CONTACTOS</a></li>
        </ul>
        
      </div>
    </div>
  </div>
</header>
</html>

<!-- www.carlosfernandezcabrera.com.ar afip -->