<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-4 mb-4">

          <a href="index.php?page=home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <img src="contents/Logo_ARQFernandez.png" class="img-fluid" alt="ARQ Carlos Fernanez Cabrera">
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="index.php?page=home" class="nav-link text-body-secondary">INICIO</a></li>
            <li class="nav-item"><a href="index.php?page=proyectos" class="nav-link text-body-secondary">PROYECTOS</a></li>
            <li class="nav-item"><a href="index.php?page=biografia" class="nav-link text-body-secondary">BIOGRAFIA</a></li>
            <li class="nav-item"><a href="index.php?page=noticias" class="nav-link text-body-secondary">NOTICIAS</a></li>
            <li class="nav-item"><a href="index.php?page=contactos" class="nav-link text-body-secondary">CONTACTOS</a></li>
          </ul>
        </header>
      </div>
    </div>
</body>
</html>

<!-- www.carlosfernandezcabrera.com.ar afip -->