<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Herzog</title>
</head>

<body class="content">
  
    <main>      

        <!-- Imagen Obra -->
        <div class="container">
            <div id="carouselObrasDestacadas" class="carousel slide carousel-fade mx-auto">
              <div class="carousel-inner mx-auto" style="max-width: 1000px; max-height: 600px;">
    
                <div class="carousel-item active">
                  <img src="contents\works\foto1.JPG" class="d-block w-100" alt="...">
                </div>    
              </div>
            </div>
        </div>
        <br>

        <!-- Titulo de Obra -->
        <div class="container" style="max-width: 1000px">
            <div>
                <h2 class="d-inline-block me-3">CASA HERZOG<br><br></h2>
            </div>
            
            <div>
              <h4 class="d-inline-block me-3">Ficha técnica</h4>
            </div>
            <p class="d-inline-block me-3">
              Ubicación: Concordia, Provincia de Entre Rios, Argentina.<br>
              Proyecto: Arq. Carlos Fernández Cabrera<br>
              Colaborador: Ing. Angel Rico<br>
              Superficie del terreno: 1500 m2<br>
              Superficie construida: 144 m2<br>
              Año de construcción 2015/2016<br></p>
              <br><br>
        </div>
        
        <!-- Texto cuerpo de obra -->
        <section class="container" style="max-width: 1000px">

          <!-- El lugar -->
          <div>
            <h4 class="d-inline-block me-3">El lugar</h4>
          </div>
          <p style="text-align: justify;">La Casa se ubica a 20 Km. al norte de la ciudad 
            de Concordia, en un terreno de 1500 m2, rodeado de pinos y
            eucaliptos.<br>
            <br>
          </p>

          <!-- El proyecto -->
          <div>
            <h4 class="d-inline-block me-3">El proyecto</h4>
          </div>
          <p style="text-align: justify;">La casa fue resuelta en una sola planta, 
            como un prisma de hormigón de 8 x 18 m, de proporción apaisada que se ubica sobre la parte 
            alta del terreno, acompañando la pendiente natural y respetando los arboles preexistentes.<br>
            <br>
            La casa parece emerger del terreno, con fachadas bien diferenciadas que responden a la organización
            funcional del programa. Siguiendo un criterio estrictamente racionalista se decidió ubicar hacia el sur, por su
            orientación y relación con la calle los sectores de servicio (cocina-baño), para darle mayor privacidad y
            protección a los interiores. Con una mayor presencia del hormigón visto, se desarrolla un tabique continuo
            de marcada horizontalidad que se contrapone con la verticalidad de dos volúmenes puros de hormigón
            armado (tanque y parrilla).<br>
            <br>
            La fachada norte en cambio es totalmente vidriada, dejando entrar el sol del norte al interior de la vivienda y
            ofreciendo las mejores vistas al paisaje circundante desde los espacios principales de la casa (estar-
            comedor-dormitorio).<br>
            <br>
            A su vez los vidrios de este ventanal corrido reflejan el verde de los pinos, y cuando la casa se observa desde
            el afuera resalta el protagonismo de los árboles, disminuyendo el impacto de la obra en el lugar.<br>
            <br>
          </p>

          <!-- El lugar -->
          <div>
            <h4 class="d-inline-block me-3">La solución constructiva</h4>
          </div>
          <p style="text-align: justify;">La vivienda se resuelve con cinco tabiques y dos volúmenes de hormigón armado que 
            posibilitan que la cubierta de hormigón a la vista tenga voladizo sin apoyos intermedios.<br>
            <br>
            El techo de la casa funciona como un plano horizontal que cubre los espacios, con un calado central sobre un patio
            interno en el cual se ubica una escalera para acceder a la cubierta para una futura planta alta.<br>
            <br>
            Los paramentos tanto exteriores como interiores son de hormigón visto, se realizaron con encofrados de
            tablas de madera de eucalipto, logrando un color y textura que hacen que la obra sea contundente pero
            discreta a la vez y en armonía con el paisaje circundante.<br>
            <br>
            Además de la calidad expresiva del hormigón visto y sus propiedades de resistencia con el agregado de
            algunos productos específicos se logró mejorar su impermeabilidad y comportamiento térmico.<br>
            <br>
            Como acabado se realizó un lijado a mano para remover las adherencias propias de la ejecución y se pintó
            con un hidrorepelente todos los tabiques exteriores como protección hidrófuga.<br>
            <br>
            Para la aislación térmica se utilizaron placas de poli estireno expandido de alta densidad en el interior de los
            tabiques exteriores.<br>
            <br>
            El piso es de micro cemento, las aberturas son de aluminio color negro. El sistema de calefacción, dado que
            no existe gas natural en la zona, se resolvió instalando una salamandra de importante poder calórico para
            acondicionar el estar - comedor. El dormitorio y el baño se calefaccionan con placas eléctricas. Para el
            calentamiento del agua sanitaria se utilizaron paneles solares. Todas estas decisiones lograron un bajo costo
            de ejecución en las terminaciones y un bajo mantenimiento futuro.<br>
            <br>
          </p>
        </section>
        
        <!-- Galeria Imagenes -->
        <div class="container" style="max-width: 1000px">
            <h4 class="d-inline-block me-3">Galeria</h4>
            <div class="row">

                <!-- Columna 1 -->
              <div class="col-md-3">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_01">
                    <img src="contents/works/CasaHerzog/Foto_01.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_02">
                    <img src="contents/works/CasaHerzog/Foto_02.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_03">
                    <img src="contents/works/CasaHerzog/Foto_03.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_04">
                    <img src="contents/works/CasaHerzog/Foto_04.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
              </div>

              <!-- Columna 2 -->
              <div class="col-md-3">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_05">
                  <img src="contents/works/CasaHerzog/Foto_05.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_06">
                    <img src="contents/works/CasaHerzog/Foto_06.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_07">
                    <img src="contents/works/CasaHerzog/Foto_07.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_08">
                    <img src="contents/works/CasaHerzog/Foto_08.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
              </div>

              <!-- Columna 3 -->
              <div class="col-md-3">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_09">
                  <img src="contents/works/CasaHerzog/Foto_09.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_10">
                    <img src="contents/works/CasaHerzog/Foto_10.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_11">
                    <img src="contents/works/CasaHerzog/Foto_11.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_12">
                    <img src="contents/works/CasaHerzog/Foto_12.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
              </div>

              <!-- Columna 4 -->
              <div class="col-md-3">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_13">
                  <img src="contents/works/CasaHerzog/Foto_13.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_14">
                    <img src="contents/works/CasaHerzog/Foto_14.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_15">
                    <img src="contents/works/CasaHerzog/Foto_15.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
                <a href="#!" data-bs-toggle="modal" data-bs-target="#Foto_16">
                    <img src="contents/works/CasaHerzog/Foto_16.JPG" class="img-fluid galeria-img" alt="Imagen 1">
                </a>
              </div>
            </div>
          </div>

          <!-- Modal Galeria Imagenes -->
          
          

    </main>

    <div class="container justify-content-center text-center mx-auto">
        <iframe src="https://3dwarehouse.sketchup.com/embed/f490e984-3654-4287-a9c6-e963ac871789?token=-waQ44YI9pg=&binaryName=s21" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="910" height="512" allowfullscreen></iframe>
    </div>
</body>
</html>